<footer class="footerStyle"> 
    <div class="footer-container">
        <div class="footer-row">
            
           <div class="footer-col">
                
                <h4><a href="get-involved">Donate</a></h4>
                
            </div> 
            <div class="footer-col">
                
                <h4><a href="projects">Projects</a></h4>
                
            </div> 
            <div class="footer-col">
                 <h4><a href="team">Meet the Team</a></h4>
                
            </div> 
            <div class="footer-col">
                
                <h4><a href="contact">Contact</a></h4>
                
            </div> 

            <div class="footer-col">
                
                <h4><a>Follow Us</a></h4>
                <div class="social-links">
                    <a href="https://twitter.com/HTHCI"><i class="fab fa-twitter"></i></a>
                </div>
                
            </div> 
        </div>

    </div>
    <div class="line"></div>
    <div class="footerBottom">
        <p>Copyright &copy; Home Tutors and Health Charity Initiative 2022</p>
    </div>
    

</footer>

