<footer class="footerStyle"> 
    <div class="footer-container">
        <div class="footer-row">
            
           <div class="footer-col">
                <ul>
                    <h4><a href="get-involved">Donate</a></h4>
                </ul>
            </div> 
            <div class="footer-col">
                <ul>
                    <h4><a href="projects">Projects</a></h4>
                </ul>
            </div> 
            <div class="footer-col">
                <ul>
                    <h4><a href="team">Meet the Team</a></h4>
                </ul>
            </div> 
            <div class="footer-col">
                <ul>
                    <h4><a href="contact">Contact</a></h4>
                </ul>
            </div> 
        </div>

    </div>
    
    Copyright &copy; Home Tutors and Health Charity Initiative 2022

</footer>

<!-- footer com donate, email box  -->