<nav>
  
  <div class="navContainer">
    <div class="logo_div">
      <a href="/"><h1 class="logo">HTHCI</h1></a> 
    </div>
  </div>
  
    <ul class="nav-link"> 
      <li><a href="/get-involved" class="nav-link"><button>Donate</button></a> </li>
      <li> <a href="/" class="nav-link">HOME</a></li>
      <li><a href="/about" class="nav-link">ABOUT US</a></li>
      <li><a href="/projects" class="nav-link">PROJECTS</a></li>
      <li><a href="/contact" class="nav-link">CONTACT</a></li>
      <li><a href="/team" class="nav-link">MEET THE TEAM</a></li>
      <li><a href="/get-involved" class="nav-link">GET INVOLVED</a></li>
    </ul>
  <!-- <script src="/activePage.js"></script> -->
  
</nav> 