<nav>
  
  <div class="navContainer">
    <div class="logo_div">
      <a href="/"><h1 class="logo">Home Tutors and Health Charity Initiative</h1></a> 
    </div>
  </div>
    <ul>
      <li> <a href="/">HOME</a></li>
      <li><a href="/about">ABOUT US</a></li>
      <li><a href="/projects">PROJECTS</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/team">MEET THE TEAM</a></li>
      <li><a href="/get-involved">GET INVOLVED</a></li>
    </ul>
  
  
</nav> 