
<nav>
  
  <div class="navContainer">
    <div class="logo_div">
      <a href="/"><h1 class="logo">HTHCI</h1></a> 
    </div>
  </div>
    <button class="mobile-nav-toggle" 
      aria-controls="primary-navagation" aria-expanded="false">
      <span class="sr-only"></span>
    </button>
    <ul id="primary-navigation" data-visible="false" class="primary-navigation flex" > 
      <li>
        <a href="/get-involved" class="donateBtn" class="nav-link">
          <button><span aria-hidden="true">DONATE</span></button>
          
        </a> 
      </li>

      <li> 
        <a href="/" class="active">
          <span aria-hidden="true">HOME</span>
        </a>
      </li>
      
      <li>
        <a href="/about">
          <span aria-hidden="true">ABOUT US</span>
        </a>
      </li>

      <li>
        <a href="/projects">
          <span aria-hidden="true">PROJECTS</span>
        </a>
      </li>

      <li>
        <a href="/contact">
          <span aria-hidden="true">CONTACT</span>
        </a>
      </li>


      <li>
        <a href="/team">
          <span aria-hidden="true">MEET THE TEAM</span>
        </a>
      </li>

      <li>
        <a href="/get-involved">
          <span aria-hidden="true">GET INVOLVED</span>
        </a>
      </li>
    </ul>
  <!-- <script type="text/javascript" src="/public/js/index.js"></script> -->
  
</nav> 