<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>

 <%- include('./partials/nav') %>
<body>

    <div class="intro-wrap">
            <h2>Our Story</h2>
            <p>Home Tutors and Health Charity Initiative is a Nigerian American non-governmental
            organization working to improve the academic outcomes of youth in rural communities and
            the overall public health in these communities by working under the guidelines of these 
            sustainable development goals: good health and well-being, quality education, gender equality, 
            and clean water and sanitation. Many factors affect quality education and health so HTCHI’s 
            projects cover diverse areas that we believe can improve the literacy and health of our partner communities.
            <br> 
            We are an organization of trained individuals in the areas of nursing, education, engineering, and computer 
            science putting our skills to uplift our communities.
            <br>     
            Our current partner community is Lejja, Nsukka LGA in the state of Enugu. We are looking forward to partnering 
            with more communities in the future.
            </p>
    </div>
     <div class="body-home-wrap">

        <div class="aboutWrap">

            <div class="about-container">
                <div class="imgBox">
                    <img src="/images/01about.png" alt="stone image" height="250px" width="250px">
                    <img src="/images/02about.png" alt="stone image" height="250px" width="250px">
                    <img src="/images/03about.png" alt="stone image" height="250px" width="250px">
                    <img src="/images/04about.png" alt="stone image" height="250px" width="250px">
                
                    
                </div>
            </div>
        
        </div>
    </div>
    
    <%- include('./partials/footer') %>
</body>
</html>