<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>

 <%- include('./partials/nav') %>
<body>
    <div class="aboutWrap">

        <div class="aboutBox">
            <h1>Contact Home Tutors and Health Charity Initiative</h1>
            <p>Thank you for your interest in Home Tutors and Health Charity Initiative Education. 
            We would like to hear from you. We are happy to answer any questions you may have.
            <br> 
            Please fill out the form below
            <br>     
            <form action="">
                Name
                Phone
                Email address
                Message

            </form>
            </p>
            <img src="/images/01contact.jpg" alt="contact image"height="300px" width="250px">
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>