<!DOCTYPE html>
<html lang="en">

 
 <%- include('./partials/head') %>

 <%- include('./partials/nav') %>
<body>

    <div class="img-wrap-home">
        <div class="title-home">
            <h1>Home Tutors and Health Charity Initiative </h1>
        </div>
    </div>

    <div class="intro-wrap">
        <h2>Who We Are</h2>
        <p><span style="color: rgb(67, 152, 47) ; font-style: italic ; font-weight:bold">Home Tutors and Health Charity Initiative </span> was born out of a need to improve the academic
        outcome of children and young adults in rural communities and to improve the overall health 
        of these communities. We provide tutoring and mentorship for youths who are negatively 
        impacted by the teacher strikes and shortcomings in the curriculum delivered to them so 
        that they can reach their full educational potential. We also deliver health services to 
        this community through annual yearly checkups by trained health care professionals and 
        activities that promote well-being.</p>
    </div>
     
    <div class="text-center">
        <h2>Our Projects</h2>
    </div>
    <div class="bodyWrap">

        <div class="wrap">

            <div class="container">

                <div class="imgBox">
                    <img src="/images/04home.jpg" alt=" after school tutoring" height="280px" width="440px">
                </div>
                <div class="content">
                    <h3 class="projectTitle">After School Tutoring</h3>
                    <p>We aim to support students by providing tutoring, homework assistance, 
                    test preparation and technology-based activities.</p>
                    <button><a class="moreLink" href="projects"> Learn More</a></button> 
                </div>



            </div>

            <div class="container">
                <div class="content">
                    <h3 class="projectTitle">Scholarships</h3>
                    <p>HTHCI awards scholarships to deserving students in primary, secondary, 
                    and tertiary levels of education to further aid their academic goals. </p>
                    <button><a class="moreLink" href="projects"> Learn More</a></button>
                </div>

                <div class="imgBox">
                    <img src="/images/03home.jpg" alt="someone studying on the computer" height="260px" width="420px">
                </div>
            </div>

            <div class="container">
                <div class="imgBox">
                    <img src="/images/01home.jpg" alt="a doctor doing an eye exam on someone else" height="280px" width="440px">
                </div>
                <div class="content">
                    <h3 class="projectTitle">Annual Health Fair</h3>
                    <p>Through the health fair, members of the community are provided with health 
                    screenings and teachings for improved public health</p>
                    <button><a class="moreLink" href="projects"> Learn More</a></button>
                </div>

            </div>


            <div class="container">
                 <div class="content">
                    <h3 class="projectTitle">Construction</h3>
                    <p>We build and construct solutions that reduces barriers to good health and well-being .</p>
                    <button><a class="moreLink" href="projects"> Learn More</a></button>
                </div>
                <div class="imgBox">
                    <img src="/images/02home.jpg" alt="stone picture" height="310px" width="420px">
                </div>

            </div>
            

        </div>


    </div>

    <%- include('./partials/footer') %>
</body>
</html>