<!DOCTYPE html>
<html lang="en">

 
 <%- include('./partials/head') %>

 <%- include('./partials/nav') %>
<body>

    <div class="imageContainer">
        <div class="banner">
            <h1>Home Tutors and Health Charity Initiative </h1>
        </div>
    </div>
    <div class="intro-wrap">
        <h2>Who We Are</h2>
        <p>Home Tutors and Health Charity Initiative was born out of a need to improve the academic
        outcome of children and young adults in rural communities and to improve the overall health 
        of these communities. We provide tutoring and mentorship for youths who are negatively 
        impacted by the teacher strikes and shortcomings in the curriculum delivered to them so 
        that they can reach their full educational potential. We also deliver health services to 
        this community through annual yearly checkups by trained health care professionals and 
        activities that promote well-being.</p>
    </div>
    
    <div class="projectContainer">
        <h2>Our Projects</h2>
        <div class="projectContent">
            <h3>After School Tutoring</h3>
            <p>We aim to support students by providing tutoring, homework assistance, 
            test preparation and technology-based activities.</p>
            <a class="moreLink" href="projects.ejs"> Learn More</a>
        </div>

        <div class="projectContent">
            <h3>Scholarships</h3>
            <p>HTHCI awards scholarships to deserving students in primary, secondary, 
            and tertiary levels of education to further aid their academic goals. </p>
            <a class="moreLink" href="projects.ejs"> Learn More</a>
        </div>
        
        <div class="projectContent">
            <h3>Annual Health Fair</h3>
            <p>Through the health fair, members of the community are provided with health 
            screenings and teachings for improved public health</p>
            <a class="moreLink" href="projects.ejs"> Learn More</a>
        </div>
        
        <div class="projectContent">
            <h3>Decentralized Wastewater Treatment</h3>
            <p>We install decentralized wastewater treatment that can treat grey 
            and black water thereby reducing barriers to good health and well-being.</p>
            <a class="moreLink" href="projects.ejs"> Learn More</a>
        </div>

    </div>

    <%- include('./partials/footer') %>
</body>
</html>