<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>

 <%- include('./partials/nav') %>
<body>
    <div class="imageContainer">
        <div class="banner">
            <h1>Our Projects </h1>
        </div>
    </div>
    <div class="subtitle">
        <p>HTHCI embarks on several projects to achieve its goals of improving
        the academic outcome of youths in rural communities and improving 
        the overall public health of these communities.</p>
    </div>

    <div class="projectWrap">

        <div class="projectBox">
            <h3>After School Tutoring</h3>
            <p>Our after-school tutoring offers homework assistance, tutoring, 
            test preparation and technology-based activities to youths affected by 
            teacher strikes and limitations in education curriculum. In Lejja,
            our tutor works with students three times a week to enable the youth in 
            the community to reach their educational potential. The tutoring takes place in 
            the community center of Lejja.</p>
        </div>

        <div class="projectBox">
            <h3>Scholarships</h3>
            <p>We award scholarships to deserving students in primary, secondary and tertiary 
            levels of education, to further aid their academic goals. Scholarships are awarded
            by recognition or through competition.</p>
        </div>

        <div class="projectBox">
            <h3>Annual Health Fair</h3>
            <p>The organization provides health screenings and teachings for the rural population.
                Healthcare services in Nigeria are privatized and people do not receive quality 
                healthcare due to economic disposition. The health fair gives community residents 
                an opportunity to know their current health status and learn about ways to improve 
                their wellbeing.</p>
        </div>

        <div class="projectBox">
            <h3>Decentralized Wastewater Treatment</h3>
            <p>Sanitation is a major contributor to the overall public health of our partner community. 
            Houses still lack toilets or proper waste collection sites. Our decentralized wastewater 
            treatment projects use low-cost solutions to improve sanitation in the community.</p>
        </div>

        <div class="projectBox">
            <h3>Construction</h3>
            <p>We help members of the community with inadequate shelters build homes where they
             can and thrive because they can remain healthy, achieve economic growth, and become educated.</p>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>