<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>

 <%- include('./partials/nav') %>
<body>
    <div class="text-center">
        <h2>Meet the Team</h2>
    </div>
    
    <div class="bodyWrap">

       
       
        <div class="teamWrap">
            
         
            <div class="card-container">
                
                
                <div class="imgBox">
                    <img src="/images/01.jpg" alt="paul picture" height="340px" width="250px">
                </div>

                
                <div class="teamContent">
                    
                    <h3>Paul Eze, Founder</h3>
                    
                        <p>Paul Eze was born in Enugu Nigeria. He lived there until he finished his studies and there, 
                        he met his wife and partner Veronica Eze. He immigrated to the United States with his wife and 
                        family but always returns to his soil, Nigeria. </p>
                    
                        <p>He graduated from University of Nigeria Nsukka with a master’s degree in Civil Engineering. 
                        He was supported by his brothers and sisters who pushed him to excel. He graduated with honors 
                        from Ohio University with a Bachelor of Nursing. He later went to earn his Nursing Practitioner degree.</p>
                                
                        <p> He has worked as a civil engineer and now works as a nurse. His family were his biggest supporters as a 
                        young boy in Nigeria and in America with his wife and children while he completed his university degrees. 
                        Now, he is following his passion to create an after-school program that coaches youth and extends his nursing 
                        skills to improve his community’s public health.  
                        </p>
                    
                </div>
            </div>

            <!-- 02 card -->
            <div class="card-container">
        
                <!-- content-->
                <div class="teamContent">
                    
                    <h3>Veronica Eze, Co-Founde</h3>
                    
                    <p>Veronica Eze was born in Enugu, Nigeria. She lived there until she finished her studies where she met her
                        husband and her partner Paul Eze. She is the mother of eight children.</p>

                    <p>She always had a passion for the sciences, as her kids would say. She graduated with a Bachelor of Science
                    in Biology at The University of Nigeria, Nsukka. She is a holder of a Bachelor of Nursing from Ohio University.</p> 

                    <p>She currently works as a registered nurse in the state of Ohio. She currently volunteers her time as a financial 
                    secretary for the Enugu women association, Ohio branch.  </p>

                            
                    <p>She was supported by her mother and siblings to go to university and later by her husband and children which 
                    motivated her to begin HTHCI with her husband and partner. Her hobbies include sewing, cooking, and being an 
                    awesome mom. She is passionate about helping her community to make the world a better place.
                    </p>
                    
                </div>

                <div class="imgBox">
                <img src="/images/02.jpg" alt="veronica picture" height="340px" width="250px">
                </div>

            </div> 

            <!-- 03card -->
            <div class="card-container">
                
                <div class="imgBox">
                    <img src="/images/03.jpg" alt="Chidiebere  picture" height="230px" width="380px">
                </div>

                <!-- content-->
                <div class="teamContent">
                    
                    <h3>Chidiebere Aninweze, Director of Operations</h3>
                    <p>She was born in Enugu, Nigeria. She is the daughter of Paul and Veronica Eze. 
                        She studied Biomedical Engineering at the University of Akron. She coordinates 
                        and manages operations at HTCHI. Her interests include climbing, reading, and spending 
                        time with her family. She is passionate about helping people.
                    </p>
                    
                </div>
            </div>

            <!-- 04card -->
            <div class="card-container">
              <!-- content-->
                <div class="teamContent">
                    
                    <h3>Adaeze Aninweze, Assitant Director of Operations</h3>
                    <p>She was born in Enugu, Nigeria. She is the daughter of Paul and Veronica Eze. She studied Chemistry
                        at Winthrop University. She is currently working on her masters of engineering degree in environmental 
                        engineering. She assists the operations at HTCHI.  
                    </p>
                  
                    
                </div>
                <div class="imgBox">
                    <img src="/images/04.jpg" alt="Adaeze picture" height="230px" width="350px">
                </div>
            </div>

            <!-- 05card -->
            <div class="card-container">
                
                <div class="imgBox">
                    <img src="/images/05.jpeg" alt="Ikenna picture" height="340px" width="250px">
                </div>

                <!-- content-->
                <div class="teamContent">
                    
                    <h3>Ikenna Aninweze, Finance Officer</h3>
                    <p>He was born in Lagos, Nigeria. He is the son of Paul and Veronica Eze. He studied finance at the Ohio
                    State University. He is responsible for allocating funding and managing the financial records at HTCHI.
                    </p>
                    
                </div>
            </div>
        </div> 
        
    </div>          

    <%- include('./partials/footer') %>
</body>
</html>