<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>

 <%- include('./partials/nav') %>
<body>
    <div class="img-wrap-team"></div>

    <div class="intro-wrap">
        <h2>Meet the Team</h2>
    </div>
    
    <div class="bodyWrap">

       
       
        <div class="wrap">
            
         
            <div class="container">
                
                
                <div class="imgBox">
                    <img src="/images/01corte.jpg" alt="paul picture" height="255px" width="375px">
                </div>

                
                <div class="content">
                    
                    <h3>Paul Eze, Founder</h3>
                    
                        <p>Paul Eze was born in Enugu Nigeria and immigrated to the United States with his wife and family but always returns to his soil,
                             Nigeria. He graduated from University of Nigeria Nsukka with a master’s degree in Civil Engineering later went to earn his 
                             Nursing Practitioner degree at Ohio University. He is following his passion to create an after-school program that coaches 
                             youth and extends his nursing skills to improve his community’s public health. </p>
                    
                
                    
                </div>
            </div>

            <!-- 02 card -->
            <div class="container">
        
                <!-- content-->
                <div class="content">
                    
                    <h3>Veronica Eze, Co-Founder</h3>
                    
                    <p>Veronica Eze was born in Enugu, Nigeria. She graduated with a Bachelor of Science in Biology at The University of Nigeria,
                         Nsukka and is a holder of a Bachelor of Nursing from Ohio University. She was supported by her mother and siblings to go 
                         to university and later by her husband and children which motivated her to begin HTHCI with her husband and partner. 
                         She is passionate about helping her community to make the world a better place.
                    </p>

                   

                    
                    
                </div>

                <div class="imgBox">
                <img src="/images/02corte.jpg" alt="veronica picture" height="255px" width="375px">
                </div>

            </div> 

            <!-- 03card -->
            <div class="container">
                
                <div class="imgBox">
                    <img src="/images/03.jpg" alt="Chidiebere  picture" height="230px" width="380px">
                </div>

                <!-- content-->
                <div class="content">
                    
                    <h3>Chidiebere Aninweze, Director of Operations</h3>
                    <p>She was born in Enugu, Nigeria. She is the daughter of Paul and Veronica Eze. 
                        She studied Biomedical Engineering at the University of Akron. She coordinates 
                        and manages operations at HTCHI. Her interests include climbing, reading, and spending 
                        time with her family. She is passionate about helping people.
                    </p>
                    
                </div>
            </div>

            <!-- 04card -->
            <div class="container">
              <!-- content-->
                <div class="content">
                    
                    <h3>Adaeze Aninweze, Assitant Director of Operations</h3>
                    <p>She was born in Enugu, Nigeria. She is the daughter of Paul and Veronica Eze. She studied Chemistry
                        at Winthrop University. She is currently working on her masters of engineering degree in environmental 
                        engineering. She assists the operations at HTCHI.  
                    </p> 
                  
                    
                </div>
                <div class="imgBox">
                    <img src="/images/04.jpg" alt="Adaeze picture" height="250px" width="370px">
                </div>
            </div>

            <!-- 05card -->
            <div class="container">
                
                <div class="imgBox">
                    <img src="/images/05corte.jpeg" alt="Ikenna picture" height="255px" width="375px">
                </div>

                <!-- content-->
                <div class="content">
                    
                    <h3>Ikenna Aninweze, Finance Officer</h3>
                    <p>He was born in Lagos, Nigeria. He is the son of Paul and Veronica Eze. He studied finance at the Ohio
                    State University. He is responsible for allocating funding and managing the financial records at HTCHI.
                    </p>
                    
                </div>
            </div>
        </div> 
        
    </div>          

    <%- include('./partials/footer') %>
</body>
</html>