<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head') %>

 <%- include('./partials/nav') %>
<body>
    <div class="thanksContainer">
        
        <h1>thank you </h1>
        
    </div>
    
    <%- include('./partials/footer') %>
</body>
</html>