@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
    body{
      margin: 0;
      padding: 0;
      font-family: system-ui;
      background: rgb(241, 241, 241);
      
    }

    

    h3, a, ul{
      margin: 0;
      padding: 0;
      text-decoration: none;
      color: #222;
    }

    /* ____________________nav & footer styles_____________________ */

    .navContainer{
      width: 90%;
      
      
    }
    /* nav = navbar  */
    nav{
      width: 100%;
      overflow: hidden;
      height: 90px;
      line-height: 70px;
      background: rgb(117, 70, 70);
      box-shadow: 0 2px 20px rgba(0,0,0,0.5);
      position: sticky;
      top: 0;

    }
    nav ul{
      float: right;
    }

  
    nav li{
      float: left;
      width: 150px;
      height: 70px;
      list-style: none;
      text-transform: uppercase;
      display: block;
      line-height: 90px;
      text-align: center;
      transition: color .5s;
      ;
    }
    
    nav a{
      color: rgb(223, 206, 206);
      font-weight: 400;
    }

    nav a:hover{
      color: rgb(92, 231, 65);
      
    }    

    /* nav li a:hover{
      color: beige;
    } */

    

    .logo{
      font-size: medium;  
      width: 340px;
      float: left;
      position:fixed;
      top: -8px;
      left: 50px;
      
    }

    footer{
      color: #777;
      text-align: center;
      margin: 80px auto 20px;
    }
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }
    /* ____________________team page_____________________ */
    /* box */
    .teamWrap{
        
    }

    /*imgBx*/
    .columns image{

    }

    /*content*/
    .columns content{

    }

    /* ____________________contact page_____________________ */

    /* .contactWrap{
            EM PROCESSSSSSSSSSSSS
    } */

    #overlay{
        padding: 50px;
        
        
    }

    form{
        min-width: 450px;
        width: 20%;
        background-color: rgb(255, 255, 255);
        padding: 30px;
        border-radius: 3px;
        box-sizing: border-box;
        float: right;
        cursor: pointer;
       
        
    }


    #contactWrap h2{
        margin: 0;
        text-align: center;
       
        

    }

    label{
        display: block;
        margin: 20px 0;
    }

    input,textarea{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
        resize: none;
        border: none;
        border-bottom: 1px solid rgb(147, 142, 142);
    }

    input[type="text"]:focus, textarea:focus{
        border-bottom: 1px solid rgb(6, 165, 6);
    }

  
   

    .btn{
        text-align: center;
        margin-top: 30px;
        width: 80%;
        min-width: 400px; 
    }

    button{
        background-color: rgb(75, 191, 75);
        color: rgb(246, 237, 226);
        font-size: 17px;
        border-radius: 4px;
        border: none;
        padding: 8px;

    }