@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
  
  *{
    box-sizing: border-box;
  }
    body{
      margin: 0;
      padding: 0;
      font-family: system-ui;
      background: #eeeaea;
      line-height: 1.5;
      overflow-x: hidden;
      
    }

    

    /* ____________________nav_____________________ */
/* 
    

    /* nav = navbar  */
    nav{
      width: 100%;
      overflow: hidden;
      height: 90px;
      line-height: 70px;
      background: #eeeaea;
      box-shadow: 0 2px 10px rgba(0,0,0,0.5);
      position: sticky;
      top: 0;

    }
    nav ul{
      float: right;
      margin: 0;
      padding: 0;
      text-decoration: none;
    }

  
    nav li{
      float: left;
      width: 150px;
      height: 70px;
      list-style: none;
      text-transform: uppercase;
      display: block;
      line-height: 90px;
      text-align: center;
      transition: color .5s;
      ;
    }
    
    nav a{
      color: rgb(67, 152, 47);
      font-weight: 600;
      margin: 0;
      padding: 0;
      text-decoration: none;
      
    }

    nav a:hover{
      color: rgb(92, 231, 65);
      
    }    

    .mobile-nav-toggle{
      display: none;
    }

  
    .logo{
      font-size: x-large;
      width: 100px;
      float: left;
      position:fixed;
      top: -8px;
      left: 50px;
      
    }

    
    h2{
      margin-bottom: 40px;
    }
    h3{
      text-transform: capitalize;
      margin-bottom: 8px;
    }

    #donateBtn button{
      padding: 8px 15px 8px 15px ;
    }
    /* ____________________footer_____________________ */

    .footer-container{
      min-width: 1095px;
      height: 150px;
      background-color: rgb(24, 81, 11);
      margin: auto;
    }
    .footer-row{
      display: flex;
      flex-wrap: wrap;
      
    }

    ul, a{
      list-style: none;
      color: #eeeaea;
      text-decoration: none;

    }

    .footerStyle{
      color: rgb(254, 254, 254);
      background-color: rgb(24, 81, 11);
      padding: 70px 0; 
    }

    .footer-col{
       width: 25%;
       padding: 0 40px;
    }

    .footer-col h4 {
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-weight: 500;
      position: relative;
      transition: all 0.3s ease;
    }

    .footer-col h4 a:hover{
      color: rgb(92, 231, 65);
      padding-left: 10px;
    }
    .footer-col h4::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 50px;
    }

    .footerBottom p{
      text-align: center;
    
    }

    .line{
      height: 1px;
      background-color: rgb(254, 254, 254);
      width: 1170px;
      margin: 2rem auto;

    }
    /* ____________________home page_____________________ */
    
    .img-wrap-home{
      background-color: rgb(67, 152, 47);
      background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("images/01homeBanner.jpg");
      background-size: cover;
      padding-top: 200px;
      padding-bottom: 450px; /*era 300px*/
    }
    
    .title-home {
      max-width: 960px;
      padding-left: 2.5rem;
      color: rgb(236, 240, 235);
      font-family: 'Noto Sans';
      font-size: 20px;
    }

  
    .text-center h2{
      padding-top: 15px;
      color: rgb(67, 152, 47);
    }

    .content a{
      color: rgb(67, 152, 47);
    }
    .content button{
      
      border: 1px solid rgb(67, 152, 47);
      background-color:#eeeaea;
      
      
    }

    .moreLink:hover{
      color: rgb(92, 231, 65);
     
    }  

 /* ____________________team /project / home  page_____________________ */
 

 
    .bodyWrap{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-color: #eeeaea;
        
    }
    .text-center{
      text-align: center;
    }
    .wrap{
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;   
    }

   
    .wrap .container{
       
       
      margin: 10px; 
      padding: 15px;
      display: flex;
    }    

   .wrap .container .content{
        margin: 15px;
   }

   .content{
      padding: 5px;
      line-height: 1.5;
      word-spacing: 1px;
      text-justify:distribute;     
   }

   .content:not(:last-child){
        margin-bottom: 1em;
   }
   
   .imgBox img{
      border-radius: 5px;
      object-fit:fill
   }

   .projectTitle{
      color:  rgb(67, 152, 47);
      
    }

    /*____________________ home /project/ about/ get involved page__________________ */

    .intro-wrap h2{
      padding-top: 15px;
      text-align: center;
      color: rgb(67, 152, 47);
      font-size: 40px;
     
    }  
    
    .intro-wrap{
      font-weight: 500;
      text-align: left;
      padding-left: 310px;
      padding-right: 310px;
      line-height: 1.8;
      word-spacing: 10px;
    }
    /*____________________ project page__________________ */

    .img-wrap-projects{
      background-color: rgb(67, 152, 47);
      background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("images/01projectBanner.jpg");
      background-size: cover;
      padding-top: 200px;
      padding-bottom: 400px;
    }
    
    
    /*____________________ about page____________________  */

   

    .about{
      padding: 0 210px 0 210px;
    } 
    
    .aboutWrap {
      padding: 0 55px 0 55px ;
      min-height: 60vh;
    }
   

    .wrap .container .aboutImg{
      display: flex;
      padding: 0 10px 0 10px 0 ;
    }




    /* ____________________contact page_____________________ */

    .contactWrap{
      padding-left: 0%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;   
    }
    .contactContent p{
      
      line-height: 1.8;
      word-spacing: 2px;
      width: 770px;
    }

  
   
    .img-wrap{
      background-color: rgb(67, 152, 47);
      background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("images/01contactBanner.jpg");
      background-size: cover;
      padding-top: 250px;
      padding-bottom: 400px;
      padding-right: 15px;
    }
    #overlay{
      padding: 40px
        
        
    }

    form{
      min-width: 40px;
      background-color: rgb(255, 255, 255);
      padding: 30px;
      border-radius: 3px;
      box-sizing: border-box;
      cursor: pointer;    
        
    }


    .contactContent h2{
      
      text-align: center;
      padding-top: 15px;
      color: rgb(67, 152, 47);
      font-size: 40px;
    }


    label{
        display: block;
        margin: 20px 0;
    }

    input,textarea{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
        resize: none;
        border: none;
        border-bottom: 1px solid rgb(147, 142, 142);
    }

    input[type="text"]:focus, textarea:focus{
        border-bottom: 1px solid rgb(6, 165, 6);
    }

  
   

    .btn{
        text-align: center;
        margin-top: 30px;
        width: 100%;
        min-width: 400px; 
        
    }

    button{
        background-color: rgb(75, 191, 75);
        color: rgb(246, 237, 226);
        font-size: 17px;
        border-radius: 4px;
        border: none;
        padding: 8px;
        cursor: pointer;

    }


 /* ____________________team _______________________*/

   
    .img-wrap-team{
      background-color: rgb(67, 152, 47);
      background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("images/04teamBanner.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 200px;
      padding-bottom: 400px;
    }
/* ____________________get involved _______________________*/

  .img-wrap-involved{
    background-color: rgb(67, 152, 47);
    background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("images/03getInvol.jpg");
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 300px;
  }

 


 /*___________________ responsive (team )_______________*/
 /* @media(max-width: 1645) 
 {
  .wrap .container .aboutImg{
    padding: ;
  }
 } */
 @media(max-width: 1200px)
    {
      /*img banner*/
      .img-wrap{
        /* padding: 80px 0 330 0; */
        padding-top: 80px;
        padding-bottom: 330px;
      }

      /* ______________nav______________*/
      .primary-navigation{
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 3em;
        /* padding: 30 160 70 160; */
        background: #eeeaea;
        /* background: hsl (0 0% 100% /0.1);  transparent*/
        transform: translateX(100%);
        transition: transform 350ms ease-out;
      }

      .primary-navigation [data-visible ="true"]{
        transform: translateX(0%);
      }
      .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999; /*on top of everything*/
        background-color: transparent;
        background-image: url(images/menu.png);
        background-repeat: no-repeat;
        border: 0;
        width: 1.5rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
      }

      .mobile-nav-toggle[aria-expanded="true"]{
        background-image:  url(images/menu.png);
      }
      /* home/ project /team*/
      .wrap
      {
        flex-direction: column;
        align-content: center;
      }
      .wrap .container
      {
        flex-direction: column;
        max-width: 900px;
      }
      .wrap .container .imgBox
      {
        min-width: 100%;
           
      }
      .wrap .container .content 
      {
        margin: 0 100px;
      }
      .imgBox
      {
        align-items: center;
        padding: 0 130px;
        
      }

      .intro-wrap{
        padding: 0 130px 0 130px;
      }

      /*home*/
      button{
        margin-bottom: 20px;
      }
    }


    @media(max-width: 950px)
    {
      
      
      /* _________footer_________ */
      .footer-col{
        width: 35%;
        margin-bottom: 20px;
        font-size: 15px;
      }
      .footer-container{
        min-width: 600px;
          
        
      }
      .footerBottom{
        padding: 100px 50px 0 0  

      }
      .footer-row{
        align-items: center;
        align-content: center;
        
      }
      .line{
        display: none;
      }

    }


    @media(max-width:574px){

       .imgBox
      {
        padding-left: 0 0px;
        
      }
      
      .wrap .container .content{
        margin: 0;
        padding: 0 145px 0 145px;
      }

      .intro-wrap{
        padding: 0 35px 0 35px;
      }

      .footer-col{
        padding: 0 25px 0 25px;
        font-size: 15px;
        width: 60%;
      
      }
      
      .footer-row {
        flex-direction: column;
        padding: 0;
        
      }
      .footerStyle{
        padding: 0 auto;
        height: 550px;
      }
      .footer-row .footer-col{
        flex-direction: column;
        max-width: 350px;
      }

      .footerBottom{
        padding-top: 255px
      }
      
      .footerBottom p{
        margin-left: 30px;
        padding-left: 5px;
      }

    }

    /* TEM QUE FAZER PRA HOME - intro-wrap  */

    /* aboutWrap{
      width: 95%; */